* {
  box-sizing: border-box;
}

html {
  background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090A0F 100%);
  background-color: #11141d;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

#root {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
