.menu {
  position: fixed;
  top: 15px;
  right: 30px;
  display: flex;
  z-index: 3;
  font-weight: bold;
  font-size: 20px;
}

.item {
  margin: 0 20px;
  padding: 5px 0;
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:nth-child(1) {
    span {
      background-image: linear-gradient(90deg, #eee, #eee 33.3%, #8bc34a 33.3%, #8bc34a 66.6%, #eee 66.6%, #eee);
    }
    &:after {
      background-image: linear-gradient(90deg, transparent, transparent 33.3%, #8bc34a 33.3%, #8bc34a 66.6%, transparent 66.6%, transparent);
    }
  }

  &:nth-child(2) {
    span {
      background-image: linear-gradient(90deg, #eee, #eee 33.3%, #00bcd4 33.3%, #00bcd4 66.6%, #eee 66.6%, #eee);
    }
    &:after {
      background-image: linear-gradient(90deg, transparent, transparent 33.3%, #00bcd4 33.3%, #00bcd4 66.6%, transparent 66.6%, transparent);
    }
  }

  &.active {
    span, &:after {
      background-position: 50% 0;
    }
  }
  
  &.prev {
    span, &:after {
      background-position: 0 0;
    }
  }

  span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span, &:after {
    transition: .3s;
    background-position: 100% 0;
    background-size: 300% 100%;
    will-change: background;
  }
}
