.table {
  margin-bottom: 50px;

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.skill {
  font-size: 18px;

  @media (max-width: 600px) {
   font-size: 16px;
  }
}

.skillName {
  padding: 5px 50px 5px 0;
  color: #f5bb66;

  @media (max-width: 600px) {
    padding-right: 20px;
  }
}

.skillText {
  padding: 5px 0;
  color: #9e9e9e;
}

.smallTitle {
  color: #fd7044;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.ul {
  padding-bottom: 0;

  @media (max-width: 600px) {
    padding-left: 20px;
    margin-top: 5px;
  }
}

.li {
  color: #fd7044;
  padding: 5px 0;
}

.liText {
  color: #9e9e9e;
}
