.landing {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-400px);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(400px);
  }
}

.screenWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 0;
  will-change: transform;

  &.current {
    animation: 600ms ease 0s 1 normal forwards running;
    animation-name: slide-in;
    z-index: 2;

    .screen {
      z-index: 10
    }
  }

  &.up {
    animation: 600ms ease 0s 1 normal forwards running;
    animation-name: slide-up;
  }

  &.down {
    animation: 600ms ease 0s 1 normal forwards running;
    animation-name: slide-down;
  }
}

.screen {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.blockScroller {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
