.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  color: #fd7044;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;

  &:after {
    content: '';
    background: linear-gradient(to right, transparent, #fd7044, transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
  }

  @media (max-width: 600px) {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
