.contacts {
  padding-top: 20px;
}

.contact {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 220px;
  font-size: 18px;

  & + .contact {
    margin-top: 40px;
  }

  &:hover {
    .contactText:after {
      opacity: 1;
      bottom: -3px;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  margin-right: 20px;
}

.contactText {
  position: relative;
  color: #03a9f4;

  &:after {
    content: '';
    height: 1px;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
    background: #888;
  }
}
