.page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
}

.title {
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: bold;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  color: white;
  text-shadow: 0 3px 5px black;
}

.name {
  font-size: 50px;
}

.jobTitle {
  margin-top: 15px;
  font-size: 42px;
}
